{% extends 'eventmanagement/layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/eventpage.css' %}">
{% endblock %}

{% block content %}
<div class="view-event">
    <h1>{{ event.title }}</h1>
    <p class="date">from {{ event.start }} to {{ event.end }}</p>
    <p>{{ event.description }}</p>
    <div class="controls">
        <button id="showpopup" class="actions" title="edit">&#9998;</button>
        <button id="deleteEvent" class="actions" title="delete" data-eventId="{{event.id}}">&#10006;</button>
    </div>
</div>
<form action="{% url 'event-page' event_id=event.id %}" method="post" id="edit-event">
    {% csrf_token %}
    <h2>Edit Event</h2>
    <div class="input-container">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ event.title }}" placeholder="title" id="title">
    </div>
    <div class="input-container">
        <label for="description">Description</label>
        <textarea name="description" placeholder="description" id="description">{{ event.description }}</textarea>
    </div>
    <div class="input-container">
        <label for="start">Start date</label>
        <input type="date" name="start" placeholder="start date" id="start">
        <input type="time" name="startTime" placeholder="start time">
    </div>
    <div class="input-container">
        <label for="end">end date</label>
        <input type="date" name="end" placeholder="end date" id="end">
        <input type="time" name="endTime" placeholder="end time">
    </div>
    <div class="controller">
        <button class="btn create" type="submit">Edit</button>
        <button class="btn cancel" id="cancelpopup">cancel</button>
    </div>
</form>
<script src="{% static 'js/editEvent.js' %}"></script>
{% endblock %}