{% extends 'eventmanagement/layout.html' %}
{% load static %}
{% block title %}register{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/login.css'%}">
{% endblock %}

{% block content %}

<div class="login-container">
    <div>
        <img src="{% static 'images/calendar.jpg' %}" alt="">
    </div>
    <form action="{% url 'register' %}" class="login-form" method="post">
        <h1>Register</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login-btn" type="submit">register</button>
        <p>Already an user <a href="{% url 'login' %}">login</a></p>
    </form>
</div>

{% endblock %}